<div class="jumbotron" style="background: url(<%= asset_path "Ni-NoImage1.png"  %>); center; background-size:cover; height: 500px;">
  <div class="container">
    <h4>ようこそ、Ni-Noへ</h4>
    <p>このサイトでは、国内電話番号（東京23区: 03番号）のご契約を承っております</p><br>
    <p>※ポートフォリオ用デモサイトです</p>
  </div>
</div>